<!--Partie footer avec les réseaux sociaux-->
<footer>
    <div class="footer footer__wrapper">
        <div class="footer__left">
            <ul class="footer__social-media">

                <li>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-lg sm-item" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://twitter.com"><i class="fa fa-twitter fa-lg sm-item" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://linkedin.com"><i class="fa fa-linkedin-square fa-lg sm-item" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="https://youtube.com"><i class="fa fa-youtube fa-lg sm-item" aria-hidden="true"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-envelope fa-lg sm-item" aria-hidden="true"></i></a>
                </li>

            </ul>
            <p class="footer__text">&#169;Copyright | <a href="#">Terms &amp; Conditions</a> | <a href="">Privacy</a></p>
        </div>
    </div>
</footer>
<!--Fin Partie footer avec les réseaux sociaux-->