<!--PAGE DE GAUCHE-->
<div class="corr-bug">
    <div id="skill-page">
        <!--MES COMPETENCES AVEC LES %-->
        <section id="skill">
            <hr>
            <div class="container">

                <div class="skill-title">
                    <h1 class="text-center">Mes compétences</h1>
                </div>

                <dl class="row">
                    <dt>HTML</dt>
                    <dd><span class="skill-bar html-bar"><span class="text-right animation-blink">70%</span></span>
                    </dd>

                    <dt>CSS</dt>
                    <dd>
                        <span class="skill-bar css-bar"><span class="text-right animation-blink">70%</span></span>
                    </dd>

                    <dt>BOOTSTRAP</dt>
                    <dd><span class="skill-bar bootstrap-bar"><span class="text-right animation-blink">100%</span></span>
                    </dd>

                    <dt>JAVASCRIPT</dt>
                    <dd><span class="skill-bar javascript-bar"><span class="text-right animation-blink">55%</span></span>
                    </dd>

                    <dt>JQUERY</dt>
                    <dd>
                        <span class="skill-bar jquery-bar"><span class="text-right animation-blink">45%</span></span>
                    </dd>
                </dl>

                <dl class="row">
                    <dt>PHP</dt>
                    <dd><span class="skill-bar php-bar"><span class="text-right animation-blink">65%</span></span>
                    </dd>

                    <dt>LARAVEL</dt>
                    <dd>
                        <span class="skill-bar laravel-bar"><span class="text-right animation-blink">70%</span></span>
                    </dd>

                    <dt>AJAX</dt>
                    <dd><span class="skill-bar ajax-bar"><span class="text-right animation-blink">20%</span></span>
                    </dd>

                    <dt>MYSQL</dt>
                    <dd><span class="skill-bar mysql-bar"><span class="text-right animation-blink">68%</span></span>
                    </dd>

                    <dt>WORDPRESS</dt>
                    <dd>
                        <span class="skill-bar wordpress-bar"><span class="text-right animation-blink">100%</span></span>
                    </dd>
                </dl>
            </div>
        </section>
        <!--FIN COMPETENCES-->
        <!--MES PROJETS REALISES-->
        <section class="real-project">
            <h1 id="project" class="text-center">Projets réalisés</h1>
            <div class="accordion">
                <ul>
                    <li tabindex="1">
                        <div>
                            <a href="#">
                                <h2>Pendu JS</h2>
                                <p>Premier jeu que je code en Javascript et qui m'a permis de decouvrir le langage</p>
                            </a>
                        </div>
                    </li>
                    <li tabindex="2">
                        <div>
                            <a href="#">
                                <h2>Morpion HTML/CSS</h2>
                                <p>Très simple à faire</p>
                            </a>
                        </div>
                    </li>
                    <li tabindex="3">
                        <div>
                            <a href="#">
                                <h2>Site commerçant</h2>
                                <p>Faire toute l'architecture d'un site commerçant pour une maison d'edition de jeu de société</p>
                            </a>
                        </div>
                    </li>
                    <li tabindex="4">
                        <div>
                            <a href="#">
                                <h2>Site Portfolio</h2>
                                <p>Mon site CV en plus de celui la</p>
                            </a>
                        </div>
                    </li>
                    <li tabindex="5">
                        <div>
                            <a href="#">
                                <h2>RPG textuel</h2>
                                <p>A faire en très peu de temps donc pas tout a fait achevé</p>
                            </a>
                        </div>
                    </li>
                    <li tabindex="6">
                        <div>
                            <a href="#">
                                <h2>Application web</h2>
                                <p>Pour l'entreprise Noreve moi et mon équipe nous avons développe une application</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FIN PROJETS REALISES-->
    </div>
    <!--APPEL FOOTER-->
    <app-footer></app-footer>
</div>
<!--FIN PAGE DE GAUCHE-->