<!--Page contact-->
<section class="contact">
    <!--Partie contact-->
    <div class="main">
        <div class="main-bdy">
            <div class="main-body-left">
                <h2>Contact Me...</h2>
                <p>Email : axou.solignac@gmail.com<br>Tel : 0203050608<br> N'hésitez pas à me contacter si besoin </p>

            </div>
            <div class="main-body-right">
                <form>
                    <input type="text" placeholder="Name" required=" ">
                    <input type="email" placeholder="Email" required=" ">
                    <textarea placeholder="Message..." required=" "></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <!--Fin Partie contact-->
    <!--Appel footer-->
    <app-footer></app-footer>
</section>
<!--Fin Page contact-->